{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <h1>Entities list</h1>
        <h6>數量：{{ ent_len }}</h6>
        <hr>
        <h6> Delete all 'unavailable' & 'scening' scening </h6>

        {% if 'bad_entities' not in segment %}
        <form method="post" action="/bad_entities">
            <input type="hidden" name="bad_entities"
                value="[
                    {%for i in entities%}
                    {% if i.state == 'unavailable' or i.state == 'scening' %}
                         {{i.entity_id}},
                    {% endif %}
                    {%endfor%}
                ]">
            <button type="submit" class="btn btn-danger">DELETE</button>
        </form>
        <hr>
        {% endif %}

        <div class="main-body">
             <div class="page-wrapper">
                 <div class="row">

                     {%for i in entities%}
                     <div class="col-md-6 col-lg-4">
                         <div class="card">
                             <div class="card-header">
                                 <h5>{{i.attributes.friendly_name}}</h5>
                             </div>
                             <div class="card-body">
                                 <ul>
                                     <li>entity_id: {{i.entity_id}}</li>
                                     <li{% if i.state == 'unavailable' or i.state == 'scening' %}
                                            style="color:red"
                                         {% endif %} >
                                        state: {{i.state}}
                                     </li>
                                     <li>device_class: {{i.attributes.device_class}}</li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                     {%endfor%}


                 </div>
             </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}