{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <center><h2 class="m-b-10"> Home Assistant FIBARO Helper </h2></center>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->

                    <div class="col-sm-6" style="margin:0px auto;">
                        <div class="card">
                            <div class="card-body">
                                <center><h5>HC Configuration</h5></center>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="post" action="/set_hc_config">
                                            <div class="form-group">
                                                <label>IP:</label>
                                                {{ form.ip(placeholder="IP", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                <label>PORT:</label>
                                                {{ form.port(placeholder="PORT", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                <label>username:</label>
                                                {{ form.username(placeholder="username", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                <label>password:</label>
                                                {{ form.password(placeholder="password", class="form-control") }}
                                            </div>
                                            <br><br>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Input group -->
                    </div>

                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
